# Build artifacts
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo

# Node / React Native
node_modules/
.expo/
.expo-shared/
npm-debug.*
yarn-error.*

# Temp / Test media files
temp_playlist_downloads/
*.log
*.mp4
*.mp3
